main {
  font-family: 'Open Sans', sans-serif;
}

header {
  width: 100%;
  min-height: 275px;
  margin-bottom: 250px;
}

#home {
  background: no-repeat white url(/assets/images/hero-img.png);
  background-size: 100% 800px;
  /* background-size: 100% auto; */
}

.text-on-hero {
  font-family: 'Bodoni Moda', serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  color: white;
}

/* -------------------------------- Navbar -------------------------------- */
nav {
  position: relative;
}

#nav-bar {
  background-color: rgba(26, 46, 56, 0.9);
  /* padding-bottom: 0;
  padding-top: 20px;  */
  font-size: 14px;
}

#navbarContent {
  justify-content: right;
}

#navbarContent .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 500;
  padding: 10px;
  float: right;
}

/*Toggle this when nav is active*/
.dropdown {
  position: initial;
}

.dropdown-menu {
  width: 90%;
  margin: auto;
  top: 65%;
  left: 5%;
  border: none;
}

.highlight {
  background-color: white;
  color: black !important;
  font-weight: 500 !important;
  /* height: 3em;  */
}

#navbarContent #login-btn {
  color: #03b1f4;
  font-weight: 700;
  margin-bottom: 8px;
  font-size: 12px;
}

#navbarContent #login-btn #user-icon {
  margin-right: 5px;
}

/* Change the color in the stroke property of the hamburger menu */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,165,0)' stroke-width='2' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  cursor: pointer;
}

/* -------------------------------- Main -------------------------------- */
main {
  height: 200vh;
}

/* -------------------------------- Footer -------------------------------- */
footer {
  /* position: fixed; */
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80px;
}
