$color-text: #fff;
$color-body: #000;
$color-cta: #1c588c;
$color-disabled: rgba(196, 196, 196, 0.5);
$color-bg-opacity: rgba(0, 0, 0, 0.6);
$color-login-nav-bg: rgba(196, 196, 196, 0.5);
$color-login-nav-a: rgba(0, 0, 0, 0.5);
$color-error-msg: #e91e63;
